
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --ff-title: 'Crimson Pro', serif;
    --ff-text: 'Lato', sans-serif;

    --fc-text: #271A45;

    --bg-card: #D9CDF7;
}

.disable{
    display: none;
}

.page{
    background: #343a40;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero{
    width: 87.5rem;
    height: 49.8rem;
    border-radius: .9rem;

    background: var(--bg-card);
    display: flex;
    align-items: center;
    gap: 1.3rem;
    
}

.container-product{
    position: relative;
}

.icon{
    position: absolute;
    width: 3.3rem;
    height: 2.2rem;
    top: .8rem;
    right: 5rem;
    cursor: pointer;
}

.product{
    width: 44.9rem;
    height: 25.2rem;
}

.container-data{
    line-height: 100%;
    color: var(--fc-text);
}

.container-data p{
    font-family: var(--ff-text);
    text-transform: uppercase;
}

.productCode{
    font-size: 1rem;
}

.productPrice{
    font-size: 1.6rem;
}

.container-data h1{
    font-family: var(--ff-title);
    font-size: 3.2rem;
    line-height: 100%;
    margin: 1.2rem 0;
}

.addButton{
    width: 14.8rem;
    height: 3.2rem;
    margin-top: 2.5rem;
    cursor: pointer;

    text-transform: uppercase;
    font-family: var(--ff-text);
    font-size: 1.1rem;

    border-radius: 999px;
    border: .5px solid var(--fc-text);

    background: transparent;
    color: var(--fc-text);
}
